Repository Armor-test/payment-database-499, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/team-notifications, @Armor-test/dept-notifications, @Armor-test/squad-reporting, @Armor-test/squad-qa, @Armor-test/team-security, @Armor-test/dept-security, @Armor-test/grp-ui, @Armor-test/squad-performance, @Armor-test/squad-frontend, @Armor-test/squad-payments, @Armor-test/squad-ml, @Armor-test/unit-test, @Armor-test/grp-storage, @Armor-test/dept-logging, @Armor-test/dept-api, @Armor-test/dept-identity, @Armor-test/dept-test, @Armor-test/squad-ux, @Armor-test/squad-product, @Armor-test/team-logging, @Armor-test/squad-database, @Armor-test/unit-devops, @Armor-test/team-frontend, @Armor-test/squad-tooling, @Armor-test/grp-reporting, @Armor-test/squad-mobile, @Armor-test/dept-ui, @Armor-test/grp-api, @Armor-test/grp-search, @Armor-test/team-governance, @Armor-test/unit-cloud, @Armor-test/squad-search, @Armor-test/grp-payments, @Armor-test/dept-reliability, @Armor-test/squad-api, @Armor-test/dept-reporting, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/compliance, @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-product, @Armor-test/dept-security, @Armor-test/squad-ml

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-notifications, @Armor-test/dept-notifications, @Armor-test/squad-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-logging, @Armor-test/squad-reporting

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-ml, @Armor-test/squad-search, @Armor-test/grp-payments

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-product, @Armor-test/dept-security, @Armor-test/squad-ml

.github/CODEOWNERS:

# CODEOWNERS file for payment-database-499
# Global owners - will be requested for all PRs
* @Armor-test/team-notifications @Armor-test/dept-notifications @Armor-test/squad-reporting

# Directory ownership
/lib/ @Armor-test/squad-qa @Armor-test/team-security
/models/ @Armor-test/team-notifications @Armor-test/dept-security
/api/ @Armor-test/grp-ui @Armor-test/squad-performance @Armor-test/squad-frontend
/middleware/ @Armor-test/dept-security @Armor-test/squad-payments @Armor-test/squad-ml
/static/ @Armor-test/squad-qa @Armor-test/unit-test @Armor-test/grp-storage
/test/ @Armor-test/dept-logging @Armor-test/squad-reporting
/config/ @Armor-test/dept-security @Armor-test/dept-api
/examples/ @Armor-test/dept-identity @Armor-test/squad-qa @Armor-test/squad-ml
/data/ @Armor-test/dept-test @Armor-test/squad-ux
/src/ @Armor-test/squad-product @Armor-test/dept-security @Armor-test/squad-ml
/helpers/ @Armor-test/team-logging @Armor-test/squad-ux
/scripts/ @Armor-test/unit-test @Armor-test/squad-database @Armor-test/unit-devops

# File type ownership
*.cpp @Armor-test/squad-reporting @Armor-test/team-frontend @Armor-test/dept-security
*.scala @Armor-test/dept-test @Armor-test/squad-tooling
*.html @Armor-test/grp-reporting @Armor-test/grp-ui
*.css @Armor-test/team-frontend @Armor-test/squad-mobile
*.proto @Armor-test/dept-ui @Armor-test/unit-devops @Armor-test/grp-api
*.go @Armor-test/grp-search @Armor-test/unit-devops
*.ts @Armor-test/team-security @Armor-test/team-governance
*.sh @Armor-test/unit-cloud @Armor-test/team-frontend
*.py @Armor-test/squad-ml @Armor-test/squad-search @Armor-test/grp-payments
*.tf @Armor-test/grp-search @Armor-test/dept-reliability
*.graphql @Armor-test/dept-identity @Armor-test/squad-ml @Armor-test/team-governance
*.java @Armor-test/squad-product @Armor-test/squad-api
*.toml @Armor-test/squad-tooling @Armor-test/squad-payments @Armor-test/unit-test
*.cs @Armor-test/grp-reporting @Armor-test/dept-reporting @Armor-test/squad-reporting

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
Dockerfile @Armor-test/devops @Armor-test/infra
